body {
    background: linear-gradient(#0a0f1a, #05070c);
}


header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #0f1525;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 28px;
    color: #00eaff;
}

nav a {
    margin-left: 20px;
    color: #bcdcff;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background: url('aero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    color: white;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 20, 40, 0.35);
    backdrop-filter: blur(12px);
    z-index: 0;
}

.hero h2 {
    font-size: 40px;
    color: #00eaff;
}

.hero * {
    position: relative;
    z-index: 1;
}

.download {
    padding: 70px 40px;
    text-align: center;
}

.download-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #00eaff;
    color: black;
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}


.hero button {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 18px;
    background: #00eaff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.projects {
    padding: 70px 40px;
    text-align: center;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 25px;
}

.card {
    background: #111829;
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    background: #1b2340;
}

.about, .contact {
    padding: 70px 40px;
    text-align: center;
}

footer {
    padding: 20px;
    text-align: center;
    background: #0f1525;
    color: #8ea0c7;
}

.hero h2 {
    font-size: 40px;
    color: #e8faff;
    text-shadow: 0 0 20px rgba(0, 150, 255, 0.6);
}

.hero p {
    font-size: 20px;
    opacity: 0.9;
}

.hero h2 {
    text-shadow:
        0 0 15px rgba(0, 180, 255, 0.4),
        0 0 30px rgba(0, 180, 255, 0.2);
}

